*{
    margin: 0;
    padding: 0;
}
.box{
    display: flex;
    gap: 10px;
}
.searchbar{
    padding: 0px 10px;
    height: 40px;
    background: #444;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #eee;
    flex: 2;
}
.btn{
    height: 40px;
    flex: 1;
}
